<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplicacionsoa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HelperCapacity"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelperCapacity"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".view.Activity_Metricas"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity_consultar_aforo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity_consultar_recomendaciones"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity_gestionarIngresos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity_opciones_app"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Activity_inicio_app"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".model.Http_Conection_Service_POST"
            android:exported="false" />
        <service
            android:name=".model.Http_Conection_Service_POST_EVENTOS"
            android:exported="false" />
        <service
            android:name=".model.Http_conection_Service_PUT"
            android:exported="false" />

        <activity
            android:name=".view.Activity_Login"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Activity_Register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Activity_Verificacion"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>